[submodule ".registry"]
	path = .registry
	url = https://github.com/highlanderlab/highlanderlab.r-universe.dev
	branch = HEAD
[submodule "AlphaPart"]
	path = AlphaPart
	url = https://github.com/alphagenes/AlphaPart
[submodule "AlphaSimR"]
	path = AlphaSimR
	url = https://github.com/gaynorr/AlphaSimR
[submodule "RcppTskit"]
	path = RcppTskit
	url = https://github.com/highlanderlab/RcppTskit
	subdir = RcppTskit
[submodule "RcppTskitTestLinking"]
	path = RcppTskitTestLinking
	url = https://github.com/HighlanderLab/RcppTskitTestLinking
[submodule "SIMplyBee"]
	path = SIMplyBee
	url = https://github.com/highlanderlab/SIMplyBee
[submodule "pedigreeTools"]
	path = pedigreeTools
	url = https://github.com/Rpedigree/pedigreeTools
